<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codelunch.app">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeLunch2">
        <activity
            android:name=".settings.customizeNotifications.CustomizeNotificationsSchoolActivity"
            android:exported="true" />
        <activity
            android:name=".settings.customizeNotifications.CustomizeNotificationsMenuActivity"
            android:exported="true" />
        <activity
            android:name=".AboutActivity"
            android:exported="true" />
        <activity android:name=".searchHandlers.SelectSchoolActivity" />
        <activity android:name=".searchHandlers.SelectMenuActivity" />
        <activity android:name=".searchHandlers.FindSchoolActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".alarm.RequestNotificationReceiver" />
        <receiver
            android:name=".alarm.SetupNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>